body {
    background-color: linen;
}
.titulo{
    background-color:brown;
}
.abstracta{
    background-color:white;
    padding-left: 175px;
}
.guitarras{
    background-color:yellow;   
}
.ques{
    margin: 50px;
}
.pintura{
    padding-right: 50px;
}
.esquema{
   
}
.container1{
    margin-left: 300px;    
    display:flex;
}
.container2{ 
    border-radius: 50%;
    border-color: red;
    border-style:solid;
    border-width: 5px;
    margin: 100px;   
    margin-top: 40px;
    display:flex;   
    padding-left: 200px;
    padding-right:5px ;   
}
.origen{
    margin-right: 100px;
    margin-left: 70px;
}
.citara{
    margin-left: 100px;
}
.evolucion{
    text-align: center;
}

.hist{
    line-height: 150%;
    background-color:coral;
    font-style: italic;
    font-weight:2px;
    color:beige;
}
/*.guitarra5{
    margin-left: 300px;
}*/
.presencia{
    margin-left: 200px;
    border-style: solid;
    border-color:limegreen;
    margin-right: 200px;
}
.mariachis{
    margin-left: 150px;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family:Cursiva'Times New Roman', Times, serif;
    color:gold;
}

h2 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:darkred;
    margin-left: 100px;
}

h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    margin-left: 100px;
}

h4 {
    text-align: center;
    font-family: Georgia,Times, serif;
    color: green;
    margin: 30px;
}
h5 {
    text-align: center;
    font-kerning: inherit;
    color: rgb(0, 255, 157);
    margin: 30px;
}
#primera{
    padding: 5px;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color:brown;
}
#segunda{ 
    width: 300px;  
    height: 400px;
    border: 5px solid green;
    padding: 20px;
    margin-top: 50px;
    float:left
}
#segunda1{
    float:right;
    padding: 25px;
    margin-top: 50px; 
    border-style: solid;
    border-width: 10px;
    border-color: rgb(226, 80, 43);
}
#nombres{
    color: blue;
    font-size: 20px;
}
/*#tercera{
    float: right;
    margin-top: 100px;
    border-width: 10px;
    border-style:solid;
    border-color:red;
}
#cuarta{
    margin-left: 400px;
    border-width: 10px;
    border-style:dashed;
    border-color:brown;
}*/
.latina2{ 
    margin-left:600px;
}
.evo{
    margin-left: 400px;
}

.historia{
    border-color: red;
    border-style: solid;
    margin-top: 50px;
}
.luthier{
    margin-left: 400px;
}
.inter1{
    text-align: center;
    margin-left: 150px;
    vertical-align: top
    /*display: inline-block */
    
}
.inter2{
    text-align: center;
    margin-left: 150px;
    display:flex;
}
.inter3{
    text-align: center;
    margin-left: 150px;
    display:flex;
}
.refe{
    margin-left:150px ;
}
.elija{
    display:flex;
    margin-left: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:150%;
    color:green
}
#clas{   
    border-color: brown;
    border-style: solid;
}
#elec{
    border-color: black;
    border-style: solid;
}
#acus{
    border-style: solid;
    border-color: blue  
}
.espacio{
    padding: 2%;
}
.form{
    display:flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkmagenta;
    margin-left: 150px;
}
.mail{
    margin-left: 150px;
    margin-right: 100px;
    font-family:'Times New Roman', Times, serif;
    color:darkmagenta;
    display:flex
}
.marca{
    margin-left: 3%;
}
.envio{
    margin-left: 10%;
}
.crear{
    margin-left: 10%;
    font-family:'Times New Roman', Times, serif;
    color:darkmagenta;
}
#enlace{
    margin-left: 47%;
}

/*label, input {
    display: block;
}*/




