body {
    background-color: linen;
}
.titulo{
background-color:brown;
}
.abstracta{
background-color:white;
padding-left: 175px;
}
.guitarras{
    background-color:yellow;   
}
.ques{
    margin: 50px;
}
.origen{
    position:relative;   
    border-color: chocolate;
    border-style:dashed;
    border-width: 10px;
    margin-top: 500px;
    
    
}
.evolucion{
    position:absolute;
    left: 50px;
    bottom: 50px;

}


.hist{
    line-height: 150%;
    background-color:coral;
    font-style: italic;
    font-weight:2px;
    color:beige;
}
.guitarra5{
    margin-left: 300px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family:Cursiva'Times New Roman', Times, serif;
    color:gold;
}

h2 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: brown;
    margin-left: 100px;
}

h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    margin-left: 100px;
}

h4 {
    text-align: center;
    font-family: Georgia,Times, serif;
    color: green;
    margin: 30px;
}

h5 {
    text-align: center;
    font-kerning: inherit;
    color: rgb(0, 255, 157);
    margin: 30px;
}

#primera{
    padding: 5px;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color:brown;
}


#segunda{    
    width: 300px;
    border: 5px solid green;
    padding: 20px;
    margin-top: 150px;
    float:left
}
#segunda1{
    float:right;
    padding: 25px;
    margin-top: 100px;
   
    border-style: solid;
    border-width: 10px;
    border-color: blueviolet;
}


#tercera{
    float: right;
   margin-top: 100px;
    border-width: 10px;
    border-style:solid;
    border-color:red;
}

#cuarta{
   margin-left: 400px;
    border-width: 10px;
    border-style:dashed;
    border-color:brown;
}






