body {
    background-color: linen;
    border-top: 5px;
    padding: 10px;
    margin: 10px;
}
div{
padding-left: 400px;
background-color:white;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin-left: 10px;
}

h3 {
    font-family: sans-serif;
    color: brown;
    margin-left: 100px;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
    margin: 30px;
}

h5 {
    font-kerning: inherit;
    color: rgb(0, 255, 157);
    margin: 30px;
}

#primera{
    padding: 5px;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color:brown;
}


#segunda{    
    width: 300px;
    border: 5px solid green;
    padding: 20px;
    margin: 20px;
}

#tercera{
    margin-left: 200px;
    border-width: 10px;
    border-style:dashed;
    border-color:brown;
}

#cuarta{
    margin-left: 50px;
    border-width: 10px;
    border-style:dashed;
    border-color:brown;
}






